.u-section-1 .u-sheet-1 {
  min-height: 1657px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  width: 893px;
  margin: 0 auto 1px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
    font-size: 1rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }
}