.u-section-1 .u-sheet-1 {
  min-height: 1069px;
}

.u-section-1 .u-image-1 {
  width: 1048px;
  height: 471px;
  margin: -220px 25px 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -208px auto 0 336px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 654px;
  height: auto;
  margin: 85px 149px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  width: 545px;
  margin: 126px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1196px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 423px;
    margin-top: 94px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -186px;
    margin-left: 277px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
    margin: 94px auto 51px 56px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1190px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 324px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -145px;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: 32px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1518px;
  }

  .u-section-1 .u-image-1 {
    height: 243px;
    margin-top: -80px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -121px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 33px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1428px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -82px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: -111px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 98px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    width: 320px;
  }
}