.u-section-1 .u-sheet-1 {
  min-height: 1069px;
}

.u-section-1 .u-image-1 {
  width: 1048px;
  height: 471px;
  margin: -220px 25px 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -208px auto 0 336px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 654px;
  height: auto;
  margin: 85px 149px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  width: 545px;
  margin: 126px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1021px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 423px;
    margin-top: 94px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -186px;
    margin-left: 277px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 140px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 922px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 324px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -93px;
    margin-left: 212px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 841px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 243px;
    margin-top: 67px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 4px;
    margin-left: 159px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: 438px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 153px;
    margin-top: -261px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 110px;
    margin-left: 100px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 563px;
  }

  .u-section-1 .u-text-2 {
    width: 320px;
  }
}